// Insert your styling here.

li kbd {
  border-radius: 0;
}
li:first-child kbd {
  .border-top-radius(3px);
  .border-bottom-radius(0);
}
li:last-child kbd {
  .border-top-radius(0);
  .border-bottom-radius(3px);
}

.panel-heading a[data-toggle="collapse"] {
  display: block;
}
.panel .submitted {
  margin-bottom: 0;
}


// Contextual variations
.panel-default .panel-heading .submitted a {
  color: @panel-default-text;
}
.panel-primary .panel-heading .submitted {
  color: @gray-dark;
  a {
    color: @panel-primary-text;
  }
}
.panel-success .panel-heading .submitted a {
  color: @panel-success-text;
}
.panel-warning .panel-heading .submitted a {
  color: @panel-warning-text;
}
.panel-danger .panel-heading .submitted a {
  color: @panel-danger-text;
}
.panel-info .panel-heading .submitted a {
  color: @panel-info-text;
}

.panel-footer {
  .label {
    margin-right: 8px;
  }
}

.label {
  a {
    color: inherit;
  }
}

.form-autocomplete {
  .glyphicon {
    font-size: inherit;
  }
}
.fa-refresh {
  -webkit-transform-origin: inherit;
  -moz-transform-origin: inherit;
  -ms-transform-origin: inherit;
  -o-transform-origin: inherit;
  transform-origin: inherit;
}

fieldset.search-advanced {
  padding-bottom: 0;
}

#statistic {
  margin-bottom: 0;
}
