// Insert your styling here.

footer.footer {
  padding: 35px 15px 36px;
}

#touch {
  a {
    &.github {
      color: #333;
    }
    &.twitter {
      color: #27aae1;
    }
    &.facebook {
      color: #3b579d;
    }
    &.google-plus {
      color: #dd4b39;
    }
  }
}

iframe.twitter-share-button {
  width: 56px !important;
  margin-right: 5px;
}
