// Insert your styling here.

footer.region-footer{
  background: @gray-lighter;
  .jumbotron {
    margin-bottom: 0;
  }
}

#touch {
  padding-top: @padding-large-vertical;
  a {
    &.github {
      color: #333;
    }
    &.twitter {
      color: #27aae1;
    }
    &.facebook {
      color: #3b579d;
    }
    &.google-plus {
      color: #dd4b39;
    }
  }
}
