// Insert your styling here.

#ascrail2000 {
  div {
    background-color: @link-color !important;
    &:hover {
      background-color: @link-hover-color !important;
    }
  }
}

.jumbotron .lead {
  margin-bottom: 0;
}
