// Insert your styling here.
body {
  padding-top: 70px !important;
}
#preloader .fa-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -.5em;
  margin-left: -.5em;
  text-align: center;
}

.jumbotron .lead {
  margin-bottom: 0;
}
